[2014-05-21 12:43] ghost opened #5 "Fix sentence "if the request has be aborted.""
In line 984 of <a href="https://github.com/owin/owin.github.com/blob/master/spec/owin-1.0.0-RC0.html">owin-1.0.0-RC0.html</a>, the sentence should be:

The "owin.CallCancelled" key is associated with a CancellationToken that the server uses to signal if the request has <strong>been</strong> aborted.

instead of

The "owin.CallCancelled" key is associated with a CancellationToken that the server us

[2014-05-24 15:20] panesofglass opened #6 "Create Middleware Specification"
We have [voted on and accepted](https://groups.google.com/forum/#!topic/net-http-abstractions/cq7DqSSFQ00) `Func<AppFunc, AppFunc>` as the accepted middleware signature, where `AppFunc` is defined as `Func<IDictionary<string, object>, Task>`.

I think this would best be served by a separate, add-on specification rather than as an amendment to the existing OWIN specification. What do others think?

[2014-05-24 15:37] panesofglass opened #7 "Specify OWIN Security Middleware"
@Tratcher made a good start on a [security middleware specification](https://groups.google.com/d/msg/net-http-abstractions/kZWiooFNf9Q/fQtOdDkxC1oJ) ([direct link](https://www.google.com/url?q=https%3A%2F%2Fonedrive.live.com%2Fredir%3Fresid%3D182D143E35C8EE09!1697%26authkey%3D!ABciZh7eHiQTI8s%26ithint%3Dfile%252c.docx&sa=D&sntz=1&usg=AFQjCNEmQnnv4ASkSjjpn0n3qqudAyEtJg)) for [Katana](http://katanap

[2014-05-26 19:01] damianh opened #8 "owin.RequestId - new standard key to uniquely identify a request"
Moving from here https://github.com/owin/owin/issues/21

[2014-05-26 19:04] damianh opened #9 "owin.RequestUser - a ClaimsPrincipal that identifies the user of a request"
See https://github.com/owin/museum-piece-owin/issues/23 for original discussion. Changing the proposal from server.User (which is de-facto standard) to owin.RequestUser which I think is more appropriate.

I am proposing this for 1.1

| Required | Key Name | Value Description |
| --- | --- | --- |
| No | owin.RequestUser | An optional identity that represents the user associated with a request. The

[2014-05-26 19:10] damianh opened #10 "Issue labels"
Can we leverage issue labels to identify the status of things? I propose the below to start things off.
- Spec-Proposal
- Spec-RequiresVotes (after a proposal has received some attention)
- Spec-Accepted (after a proposal has received enough votes)
- Administrative - for ones like this :)

[2014-05-26 19:57] damianh opened #11 "owin.RequestAbort - allow middleware to forcibly abort the request and disconnect the client."
I am proposing this for milestone 1.1

| Required | Key Name | Value Description |
| --- | :-- | :-- |
| No | owin.RequestAbort | An `Action` that when invoked and the headers have not been sent, a host MUST abort the request. If the headers have already been sent then the host MUST throw. |

In contrast to sending a response 500 or similar, there are situations where an application would like to

[2014-05-26 22:01] diegobfernandez opened #12 "Add Voting Rules to owin.org [WAS: How long should Spec-RequiresVotes issues last?]"
if an issue is set to Spec-RequiresVotes how long should we expect it to be finished?
What is the minimun time for interested parties to respond?

[2014-05-27 18:07] #10 closed, assigned to nobody

[2014-05-27 18:14] #5 closed, assigned to panesofglass

[2014-05-27 18:28] #12 closed, assigned to skoon

[2014-05-27 18:52] panesofglass opened #13 "Rework repositories"
- Rename `owin` to `museum-piece-owin`.
- Rename `owin.github.com` to `owin`. This will eventually be a collection of `.markdown` files rather than HTML
- Create `owin.github.io` to host published version of the spec. This should start as the current `owin.github.com` repository

[2014-06-05 18:18] #8 closed, assigned to nobody

[2014-06-09 06:58] damianh opened #17 "Tag v1"
Should tag commit [879595c6f284da97d787635abf4c4435056b5dd7](https://github.com/owin/owin.github.com/commit/879595c6f284da97d787635abf4c4435056b5dd7) with `owin-v1.0.0`

[2014-06-09 07:16] damianh opened #18 "Clean up old drafts"
I suggest
- Delete all _draft_.html files
- Rely on git, tags, github issues and releases to maintain a history only.

[2014-06-09 07:21] damianh opened #19 "Review extensions and bring them up to their respective v1.0"
So OpaqueStream, SendFile and WebSockets have not been given much love. They seem stable ( is that correct? @tratcher ). They too should be converted to markdown. What needs to happen to bring each of them to 1.0 ?

[2014-06-11 18:55] #13 closed, assigned to skoon

[2014-06-24 19:51] #17 closed, assigned to nobody

[2014-07-21 13:40] itaid opened #20 "Owin terms"
I'm a bit confused with the various Owin terms (e.g Web Framework, Web Application, Application)

Why not just state:
"OWIN defines a standard interface between .NET http servers and http handlers."

Whether a specific http handler implementation ultimately defines a framework or some simple processing routine seems like a different concern and orthogonal to the spec.

I mean why include applicati

[2014-07-22 18:13] #11 closed, assigned to nobody

[2014-09-15 16:29] lilith opened #22 "Links to Common Keys and SendFile are broken on owin.org"

[2014-09-15 17:30] #22 closed, assigned to skoon

[2014-10-05 10:14] serialseb opened #23 "Rename mailing list to reflect its Owin Working Group status"
Says it all.

[2014-10-05 11:10] serialseb opened #24 "Remove the distinction between host and server"
The decoupling between the two concepts as defined has not shown any benefits since the first specification, and has also caused confusion for users. The additional burden on the specification doesn't seem justified.

It is hereby proposed to remove the mention of host alltogether and standardize on the usage of server.

To remove further any confusion, a note could be added that for OWIN componen

[2014-10-05 15:38] serialseb opened #25 "OWIN versioning"
As it stands, the versioning section in the OWIN specification does not allow evolving specifications easily.

According to versioning rules, a server may advertise which version of owin it supports. This is done so as to not break ABIs for components down the pipeline. Any change to such ABIs (aka AppFunc and any key in the environment dictionary that is declared in a specification) requires a ma

[2014-10-09 18:25] serialseb opened #26 "CommonKeys"
The owin spec references common keys, replicate some text but does not include it. It mixes together a whole bunch of concepts.

I suggest we move the "startup properties" to the main owin spec, and as suggested before link to a revamped keys registry, with the definition of what a startup key is. It has the advantage of allowing the owin and the middleware specs to point to the same concept, and

[2014-10-10 12:51] damianh opened #27 "server.OnDispose and server.OnInit"
I'm building middleware components that have lifecycle and disposal concerns. I need a way to clean up. In the katana world this key is `host.OnAppDisposing`. Using `server` here because of #24 .

Required | Key Name | Value Description
--- | --- | ---
No | server.OnInit | An `Action<Func<Task>>` that allows middleware to register a callback that the server will call once when initializing.
No | s

[2014-10-10 16:14] #23 closed, assigned to skoon

[2014-10-15 20:09] jerryantony opened #28 "CORS option Enabled Still getting and Error "XMLHttpRequest cannot load <url1>. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin <url2> is therefore not allowed access.""
Implemented Token Based Security with Web API .The CORS option is also enabled still getting an Error  while sending the token request from cross domains.
Error Message:
"XMLHttpRequest cannot load <url1>. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin <url2> is therefore not allowed access."

[2014-10-16 02:35] #28 closed, assigned to nobody

[2014-10-24 14:39] #9 closed, assigned to nobody

[2014-11-12 07:57] teamaton opened #30 "Broken link to CommonKeys on the drafts page"
On http://owin.org/html/owin.html, in sections 3.2 and 7 the links to CommonKeys point to the non-existing url **http://owin.org/spec/CommonKeys.html** instead of the correct **http://owin.org/spec/spec/CommonKeys.html**.

[2014-11-19 09:21] a-h opened #31 "Website Appears Down Due to DNS Issue"
![image](https://cloud.githubusercontent.com/assets/1029947/5103233/572e2af0-6fcd-11e4-9b2b-4315164383a5.png)

![image](https://cloud.githubusercontent.com/assets/1029947/5103238/68229ba2-6fcd-11e4-8596-80443386325d.png)

[2014-11-19 21:48] #31 closed, assigned to nobody

[2015-02-15 13:43] bigpcz opened #34 "Web owin.org charset"
Hi,

I can see wrong characters in the OWIN spec. extensions:
http://owin.org/spec/extensions/owin-SendFile-Extension-v0.2.0.htm

![qmchar](https://cloud.githubusercontent.com/assets/7683458/6203401/980b6fa4-b520-11e4-9aca-a1414620ed76.png)

It doesn't look professional and should be fixed.

[2015-02-15 13:51] bigpcz opened #35 "Web owin.org: links"
Clicking the menu item opens the page as a new tab instead of jumping to the section on the same page only. It is quite irritating.

[2015-02-15 13:59] bigpcz opened #36 "Web owin.org: title"
The title says: OWIN: Open Web Interface for .NET
Shouldn't the title be "Open Web Server Interface for .NET"? I thought for the first time that OWIN is something like REST/Json, the interface between the client application and the web server and it is interface between the web server and its modules. Correct me please if I am wrong here.

[2015-02-15 19:31] serialseb commented on #34
Feel free to submit a pull request. I don't know if anyone has their names on that spec.

[2015-02-15 19:37] serialseb commented on #36
An interface is a contract that two parties intend to support to communicate. If a component interface is an interface for a component, then a web interface is an interface for the web. In the context of components on .net, it is an interface for components doing web things. I don't believe the semantics are necessarily incorrect, nor does the interface itself differ much between a server and its

[2015-02-22 04:17] panesofglass commented on #34
In particular, we'd love to finish rewriting all these things as markdown. The tokens you see are a result of generating markup from Word.

[2015-02-22 04:18] panesofglass commented on #27
Ping! Is this ready for a vote?

[2015-02-22 04:19] #30 closed

[2015-02-22 22:01] serialseb commented on #27
I suggest the simplest thing that could possibly work and would make much sense, two keys, optional, one for starting, one for disposing? We could get a consensus amongst implementers rather quick if we do it over skype or talk about it on gitter, I'm available this week, we can probably fast forward this.
Any init order I have abandoned, I've moved on to other simpler methods, so I'd be happy wit

[2015-02-23 13:43] damianh commented on #27
@serialseb I'm with you on that (no init order); but do both keys need to be part of this proposal?

Question for everyone, key name in this proposal:

 1. `server.OnDispose`
 2. `server.OnDisposing`
 3. `server.OnAppDisposing`

Personally I prefer 1.

[2015-02-23 22:33] panesofglass commented on #27
@damianh there's prior art [here](https://msdn.microsoft.com/en-us/library/microsoft.owin.builderproperties.appproperties.onappdisposing%28v=vs.113%29.aspx). I'm partial to moving to the `server` prefix using 2 above but wonder whether others may be interested in retaining `host.OnAppDisposing`.

[2015-02-23 22:34] panesofglass commented on #27
@serialseb, should we split the two or add `server.OnInit` to this proposal? I think I would prefer to create a second and vote on them separately, but I'm open to either.

[2015-03-02 15:52] serialseb commented on #27
It seems silly to do two proposals for two keys for lifetime management no? It's a one liner to add to your list and we're good.
For host, I say it's a vendor prefix here and I'd prefer the standard didn't standardise those. I'd go for server.OnDispose and server.OnInit, with a note that a vendor implemented a custom key on host and middlewares may want to use the old version when detecting, shoul

[2015-03-02 16:00] damianh commented on #27
+1 @serialseb  `server.OnDispose` and `server.OnInit` with vendor note.

[2015-03-02 16:07] khellang commented on #27
:+1: on `server.OnDispose` and `server.OnInit`

[2015-03-02 16:11] damianh commented on #27
I'll update the issue at the top.

Where would these keys be defined? Under 3.2.3 Other Data?

[2015-03-02 21:01] damianh commented on #27
- Changed the title of the issue to include OnInit.
 - Updated the issue: renamed `server.OnAppDisposing` to `server.OnDispose` and added the `server.OnInit` key.

[2015-03-02 21:02] damianh commented on #27
@panesofglass This is ready for the vote :)

[2015-03-02 21:10] damianh commented on #27
We'll need a note re: katana's server.OnAppDisposing key

[2015-03-03 18:42] panesofglass commented on #27
:+1: for me

[2015-03-03 18:43] panesofglass commented on #27
:+1:

[2015-03-03 18:44] tugberkugurlu commented on #27
:+1:

[2015-03-03 20:17] EddieGarmon commented on #27
:+1:

[2015-03-04 09:31] damianh commented on #27
+1
On 3 Mar 2015 21:17, "Eddie Garmon" <notifications@github.com> wrote:

[2015-03-04 11:05] khellang commented on #27
:+1:

[2015-03-04 13:54] serialseb commented on #27
:+1:

[2015-03-05 13:43] darrelmiller commented on #27
+1

[2015-03-11 16:48] skoon commented on #27
+1

I'm not cool enough for emoji :(

[2015-03-11 16:49] skoon commented on #35
? huh, I didn't notice a base target set anywhere. I'll look again.

[2015-03-11 17:52] panesofglass commented on #27
I think we can close this and add it with unanimous support.

[2015-03-11 17:53] panesofglass commented on #27
I'll leave the issue open until we update the spec with the additional keys. @serialseb, how is the revised spec coming? Should we add it there or add it to the current format?

[2015-03-11 18:48] xt0rted commented on #35
@skoon the target is set in the `head` tag.

[code]

[2015-03-11 23:28] serialseb commented on #27
You can always add it to the 1.1 draft that exists, and i'll fold it in my pull request for 1.0.1 when it's ready?

[2015-03-12 01:36] panesofglass commented on #27
@serialseb, sounds good.

[2015-03-12 01:37] panesofglass commented on #35
@xt0rted, thanks for pointing that out! @skoon, was that intentional? I guess it helps for external links.

[2015-03-12 03:35] skoon commented on #35
![Dunno](http://media.giphy.com/media/135X3vYgOotq5a/giphy.gif)

[2015-03-12 04:01] skoon commented on #35
OK, removed the base target for the page. People can middle-click or "open in new tab/window" if they want.

[2015-03-12 04:01] #35 closed

[2015-03-12 17:18] panesofglass commented on #35
Thanks, @skoon!

[2015-03-12 18:03] panesofglass commented on #27
I added a PR for this. @skoon, is moving `CommonKeys.md` to the root something you can account for when generating the site at https://github.com/owin/owin.github.io?

[2015-04-06 18:11] skoon commented on #27
yup

[2015-06-04 18:01] #27 closed

[2015-08-19 22:35] panesofglass opened #38 "Revise governance model"
I propose we replace the current governance model with a much simpler, majority rules model.

1. Monthly, community call with recorded minutes.
2. Active community participants, defined as those building implementations, chatting in public forums, or presenting, are welcome to attend pending no existing community member objects.
3. Post public agenda 2 weeks before meeting.
4. No proposal becomes

[2015-08-22 22:58] khellang opened #39 "Builder Specification"
Since `MidFunc` has been voted on and accepted (see #6), the next logical step is to get an "official" discussion going on a `BuildFunc` (or `BuildAction`?).

As I understand it, the current proposal is (as used by @serialseb)

[code]

Where `IDictionary<string, object>` is the startup properties.
I would also like to split this signature into a separate `MidFactoryFunc`

[code]

Then the `BuildFu

[2015-08-22 23:42] khellang commented on #39
I think a `BuildFunc` specification is getting more important now that there are more and more builder implementations out there. It would be nice not having to ship `Middleware.Katana`, `Middleware.AspNet`, `Middleware.Nowin` etc. packages just to simply add discoverability for your middleware on different implementations.

FYI, ASP.NET 5 provides an OWIN "bridge" in [OwinExtensions.cs](https://g

[2015-08-23 06:54] damianh commented on #39
I think we should still ship Katana (IAppBuilder) and AspNet (IApplicationBuilder) integration packages. They should be out-of-band with core bits though. Dunno what Middleware.Nowin is...

[2015-08-26 14:12] nikmd23 commented on #39
@khellang I do have concerns, mostly about a way to identify a `MidFunc`. It's had to tell a user that a piece of middleware has executed, when there isn't currently a way to name it.

Sure, there are times when a name can be derived (the `app.Use<FooMiddleware>()` pattern would be called *Foo* for example), but it'd be much better if there was a standard environment key or something that could be

[2015-08-26 14:16] khellang commented on #39
@nikmd23 So what you want is an equivalent to `Function.name` in ES6? :smile:

[2015-08-26 14:26] nikmd23 commented on #39
That'd be awesome!

On Wed, Aug 26, 2015 at 10:17 AM, Kristian Hellang <notifications@github.com

[2015-08-26 14:39] khellang commented on #39
One solution could be to use the startup properties as a two-way communication between the builder and the middleware.

Then you could do something like

[code]

The builder could then check for the presence of `owin.MiddlewareName` and use that, or fall back to `ToString` or `.GetType().Name` of the `MidFunc` delegate (remember, you can return a named delegate).

[2015-08-26 15:13] nikmd23 commented on #39
I'm not really too particular about how it works, just that its setup to
work. Of course the secondary hurdle is adoption by middleware
implementors.

On Wed, Aug 26, 2015 at 10:39 AM, Kristian Hellang <notifications@github.com

[2015-08-28 03:20] panesofglass commented on #39
@serialseb, you mentioned you did something to expose the middleware pipeline. Were you leveraging classes to identify the names of the middleware?

[2015-08-30 20:26] panesofglass opened #40 "Proposed spec change: support immutable data structures"
The existing specification for OWIN makes it difficult to leverage immutable data structures for the required `IDictionary<string, object>` environment and `IDictionary<string, string[]>` headers dictionaries. While it's unlikely that we will ever move away from `Stream`, a simple spec change would allow those of us who want immutable `IDictionary` types to do so: `type AppFunc = Func<IDictionary<

[2015-08-30 20:27] haf commented on #40
+1

[2015-08-30 20:37] horsdal commented on #40
Sounds reasonable. Supporting immutable dictionaries would be nice.

[2015-08-31 12:24] Tratcher commented on #40
-1 That sounds really inconvenient (and inefficient) for anybody else. The OWIN environment mutability is one of it's strengths, what is the motivation for disabling it? Immutable is also not opt-in friendly, every downstream middleware has to be aware of it and re-written to duplicate the dictionary for any possible modification.

I think only a very simple app/pipeline could process a request wi

[2015-08-31 13:00] haf commented on #40
@Tratcher Why does it sound inconvenient or inefficient? It's just a signature, it doesn't ensure the underlying implementation of the interface is immutable, so you can just keep passing around the same dictionary in and out. So this is not about disabling it.

However, it's absolutely *not* one of its strengths. I could give you the same justification for this statement as you do of its opposite

[2015-08-31 14:13] Tratcher commented on #40
Maybe we should start with some simple code samples like a 404 response. If the incoming environment can be immutable how does the following code need to change? Do I need to detect if it is immutable? Do I need to copy the dictionary to make modifications?
[code]

[2015-08-31 14:19] haf commented on #40
[code]

[2015-08-31 15:20] Tratcher commented on #40
Sorry, there's apparently more magic going on here than I'm making sense of. I'm going to tap out until I figure out what's going on.

[2015-08-31 15:52] panesofglass commented on #40
@Tratcher, there's no magic. The idea is that OWIN currently _only_ supports mutable dictionaries. The request is that it _extend_ support to immutable dictionaries. The overall change would require `AppFunc`s to return their dictionary with the completed `Task` rather than simply mutate the dictionary. For those wishing to continue using mutable dictionaries, the change is no different than allow

[2015-08-31 15:54] panesofglass commented on #40
@haf, that example should be:

[code]

[2015-08-31 16:03] panesofglass commented on #40
@Tratcher, oh, I see now what you meant about magic. @haf, I think a flag is probably not a good idea. I also now see the problem that by supporting immutable dictionaries, other middleware and apps are going to be penalized by having to know whether or not that dictionary is immutable. At design time, everything will play nicely; at runtime, calls to mutate or `.Add` will suddenly throw exception

[2015-08-31 16:05] panesofglass commented on #40
@haf is it possible we could create an adapter layer that supports immutable data structures and wraps older middleware?

[2015-08-31 19:04] damianh commented on #40
Under what scenarios would something like this occur? I've never found my self in a place where I'm mutating the env dictionary _concurrently_. (Sorry if dumb question).

[2015-09-01 08:19] haf commented on #40
@damianh Let's say you wanted to do more than a single transaction during the request you could fork-join each transaction and join it back before replying.

Pseudo-code:

[code]

Where `join` would merge the changes of each `HttpRequest` value that comes from each of logToDb (writes X-Last-Tx header), sendWelcomeEmail (writes X-RepeatSignup header) and renderAcq which writes to the headers (setti

[2015-09-01 09:08] serialseb commented on #40
:-1:

Changing AppFunc at this stage would be a huge undertaking leading to OWIN 2.0, invariably leading to breaking everything that currently exist.
I understand the sentiment, but with where we are currently, this looks to me like compat wins.

Unless i'm mistaken, the immutability of the env dictionary could be achieved in middleware, as it is a Func<AppFunc,AppFunc>. It would be trivial to wri

[2015-09-01 09:09] serialseb commented on #40
Could someone with the correct rights put a 2.0 tag on this?

[2015-09-01 09:12] serialseb commented on #39
Pull request on middleware and buildfunc coming in a short while today.

@panesofglass yes, class names if I can get them (using magic), or write-only keys (middleware.Name), or empty if it's something I can't extract.

[2015-09-01 10:00] damianh commented on #38
+1

[2015-09-01 10:03] serialseb commented on #38
I think we ought to put some timelines on voting. Aka 2 weeks before once the editors are happy with the specification. Active members vs Inactive members should also have a time since last contributed (or self-revoked), but limited to admin rights on the site to tag, assign labels etc.

[2015-09-01 10:08] serialseb commented on #6
Specification has been pull-requested, see #41

[2015-09-01 10:09] serialseb commented on #6
I suggest closing as duplicate and moving all buildfunc/middleware conversation to the pull request

[2015-09-01 10:09] serialseb commented on #39
Pull request at #41, suggest closing this and moving to the pull request for conversation?

[2015-09-01 15:06] #6 closed

[2015-10-13 15:34] panesofglass commented on #38
Accepted with amendment to cut off voting after two weeks. In general, the guideline should be to favor momentum rather than formality.

[2015-10-13 15:34] #38 closed

[2015-10-13 15:35] panesofglass opened #42 "Update governance documentation to match new process"
We need to update governance documentation to match new process as described in #38.

[2015-10-13 15:36] panesofglass commented on #42
@serialseb @damianh do you think we should replace the existing governance documents with the text in #38 or keep some of the content of the existing docs? I'm in favor of replacing with the much simpler text of #38, though we don't describe there how we select owners / maintainers nor even define those terms.

[2015-10-13 15:37] panesofglass commented on #36
Closing for lack of continued discussion and therefore assuming lack of interest.

[2015-10-13 15:37] #36 closed

[2015-10-13 15:38] panesofglass commented on #34
Duplicate of #18

[2015-10-13 15:38] #34 closed

[2015-10-13 15:39] panesofglass commented on #26
@serialseb @damianh, either of you want to push this forward with a PR proposal?

[2015-10-13 15:40] panesofglass commented on #39
Please direct conversation to #41.

[2015-10-13 15:40] #39 closed

[2015-10-13 15:43] panesofglass commented on #24
@serialseb is this sufficiently addressed in #41?

[2015-10-13 15:44] panesofglass commented on #20
Closing this in favor of #24, which moves us closer to a resolution.

[2015-10-13 15:44] #20 closed

[2015-10-13 15:45] serialseb commented on #24
No but I have a pull request for owin 1.0.1, in which we can fold all this, i'll try and move this this week by pushing it as a draft, we can then create issues.
Would adding a note to the middleware spec help? I can do that before pushing

[2015-10-13 15:46] panesofglass commented on #24
What sort of note?

[2015-10-13 15:48] serialseb commented on #24
"Older versions of the owin specification mentionned a host as a separate component from the server. Later specifications unified the two terms, see 1.0.1#changes."

[2015-10-13 15:50] panesofglass commented on #25
I really like this and would be up for calling a vote. Others? @khellang @damianh @Tratcher @skoon

[2015-10-13 15:50] panesofglass commented on #24
Yes, that looks like a good idea. Thanks!

[2015-10-13 15:57] khellang commented on #25
:+1:

[2015-10-13 16:00] Tratcher commented on #25
This sounds productive overall.

[2015-10-13 16:33] serialseb commented on #42
Let me have a think this evening, I need to re-read everything

[2015-10-14 16:31] serialseb opened #43 "Middleware: BuildFunc composer requirements"
Should extension methods be SHOULD or MUST for owin middleware 1.0.0 compliance?

[2015-10-14 16:33] serialseb commented on #43
See discussion in  #41

[2015-10-14 16:34] serialseb opened #44 "Middleware: Formalise Map / Run conventions from Katana"
See discussion in Pull Request #41

[2015-10-14 16:42] serialseb opened #45 "Middleware: Definition of builder"
The current spec defines builder as

@panesofglass suggests instead

Is the BuildFunc instance reference correctly described as a "discovery mechanism"?

[2015-10-14 16:47] serialseb opened #46 "Middleware: Clarification of allowed operations"

[2015-10-14 16:49] serialseb commented on #46
If we add those, we need to fine what "producing a response" means in the context of the owin spec.
I'd suggest for request fields that a CAN would be better than a MAY.
The response header / stream is about modifications done post "producing a response", whatever definition we go with. The specs do not define what happens when a response has been produced (aka headers sent), does not preclude wri

[2015-10-14 16:50] serialseb commented on #46
@Tratcher added a note 27 days ago

[2015-10-28 17:02] panesofglass opened #47 "Clarify header grouping"
The spec currently declares:

However, as @kolektiv pointed out, that's not entirely clear. My best recollection is that OWIN would not change the header values, just pull all headers with the same header name into a single array, and the framework would then need to process the header values as received by the server.

I propose we amend to the following:

I'm happy to change the above from SHOUL

[2015-10-31 18:38] serialseb commented on #47
This is what i have in 1.0.1:

    For example, the code `headers["Accept"] = new[] {"text/html", "text/plain"}` represents two field lines in an HTTP message:
[code]
    Servers SHOULD NOT split, merge or otherwise unnecessarily modify the http header dictionaries, as applications may have incorrectly associated semantics to the order or number of multi-value headers.

[2015-11-01 19:12] EddieGarmon commented on #47
The more we accommodate people doing the wrong thing in the first place, the harder it is to do things right.

[2015-11-02 16:32] panesofglass commented on #47
@EddieGarmon, I agree. @serialseb, I like what you have. I would lean towards wanting "MUST NOT," but I'm sure some server implementations already violate that condition, though I could be wrong.

[2015-11-02 17:15] Tratcher commented on #47
Http.sys/IIS violates these guidelines for 'known' request headers. It's annoying sometimes. @EddieGarmon I agree in principal, but unfortunately most apps don't control their end-to-end stack and need to work around deficiencies in 3rd party components.

[2015-11-02 17:53] EddieGarmon commented on #47
@Tratcher  A specification is not an application.

Either fully allow/support header modification/normalization or don't. Being on the fence in a spec leads to abuse and true non-adoption.

[2015-11-04 19:42] serialseb commented on #47
Do remember that we can't enforce additional restrictions on top of owin 1.0 (or any 1.x) as a SHOULD becoming a MUST would invalidate existing implementations that were valid before. 1.0.1 is supposed to clarify 1.0.0, not redefine it.
The way to address these is either to postpone a better definition for a 2.0 (aka the ship has sailed), or work on a "Designed for OWIN" certification that has add

[2015-11-06 15:23] SetTrend opened #48 "How can I unit test OAuth2 authentication on Web API using Microsoft.Owin.Testing?"
Hi,

given the following VS solution setup:

[code]

I have installed the `Microsoft.Owin.Diagnostics` and `Microsoft.Owin.Testing` NuGet packages.

Now I want to test internal and external authentication using this set-up. How can I do this?

I have been googling this but can't find any documentation on how to apply TestServer here.

Thank you for enlightening me.

[2015-11-06 15:52] serialseb commented on #48
Sorry, unfortunately you're in the wrong group. We're the OWIN working group and we work on the OWIN specifications (at owin.org).
You're looking for support on Katana, which is a Microsoft product, so you may want to be looking at discussing this on jabbr where there are rooms with Microsoft people, or the repositories for asp.net at github.com/aspnet.

[2015-11-06 15:52] #48 closed

[2015-11-12 16:52] panesofglass commented on #43
`SHOULD`

[2015-11-12 16:54] panesofglass commented on #44
Must we even address these? These are nice conventions, but I think we should allow for far more possibilities than these, and supporting `Map` and/or `Run` I think put us in a position of pushing a specific, non-required pattern. Let's stick with `Use`. `Map` and `Run` can be built on top of that where desired.

NOTE: if my logic does not apply for `Run`, I'll reconsider `Run`.

[2015-11-12 16:57] panesofglass commented on #45
That's a good question. `IAppBuilder` was introduced to help users `.` into discovering what was available. I rarely use it in my apps, so I don't think of it as *the* extension point but merely an optional helper for those who are new to OWIN.

[2015-11-12 16:59] Tratcher commented on #44
Map and run don't need to be official, but I think the spec needs to allow for extensions like them. E.g. Not everything must start with use or be linear pass through.

[2015-11-12 17:00] panesofglass commented on #46
I raised this b/c several people asked me about it. Perhaps this would be better served by the overdue OWIN compliance test suite?

[2015-11-12 17:01] panesofglass commented on #44
@Tratcher, yes, I agree that the spec should allow for such extensions. How do we specify that as an open-ended possibility? I assumed that, as we did originally with middleware, by leaving it open we leave it completely open to experimentation.

[2015-11-12 17:02] panesofglass commented on #47
Comments added elsewhere (at last). :)

[2015-11-16 13:34] panesofglass opened #49 "HTTP/2 support"
Do we need to make any adjustments for HTTP/2?

[2015-11-16 13:35] panesofglass opened #50 "Request for feedback and revisions to Web Sockets Extension"

[2015-11-16 14:11] Tratcher commented on #49
Probably, there are some significant changes at the protocol layer to account for:
1. Things like path, method, status code, etc., are now headers, how do the existing keys map?
2. Reason Phrase is obsolete.
3. Http Version is no longer a protocol field, how do the request and response owin keys change?
4. New key & Func for push promise?
5. The upgrade from HTTP/1.1 (like websockets)

Implementat

[2015-11-16 14:21] Tratcher commented on #50
I'm not a fan of the upgrade process outlined in v0.4.0, it's modeled off System.Web which has an upgrade/unwind/callback approach that is awkward to implement elsewhere. A direct upgrade method has been much easier.

The Funcs and data structures could also use reviewing.

[2015-11-25 18:22] serialseb commented on #49
i agree with @Tratcher for backward compat and mapping, the app should "just work" whatever version, and an http/2 server should know what to do with that. I would like to see some proposals for upgrade paths and push promises, although these could be optional modules that we could push as separate specs / keys. It all depends on market penetration I guess.

[2015-11-25 18:23] serialseb commented on #44
Anything not specified is not part of the specification. The use of SHOULD in #43 would resolve this, wouldn't it?

[2015-11-25 18:25] serialseb commented on #45
I think it's both, so I may propose an alternative phrasing. The boat has passed on supporting anything on asp.net from what i understand, and we've had little feedback that there was a desire to change that, so we can take our (the implementers) time to coin it correctly, if people think it's important.

[2015-11-25 18:28] serialseb commented on #46
Anecdotal evidence seems to show that compliance is not a very critical thing right now. Implementation variance that breaks apps or middlewares would be a good place to clarify, and even break, what compliance mean, so I'd personally address it.

[2016-01-22 22:26] unencode opened #51 "Website/DNS down"
Hi. Not sure where else to contact you but owin.org is down. Looks like a DNS hijack-ish type thing.

[2016-01-22 22:27] serialseb commented on #51
No, just waiting for the change in dns providers to propagate...

[2016-01-22 22:27] serialseb commented on #51
Will report when new info becomes available or i find what wrong manipulation i made

[2016-01-22 22:28] unencode commented on #51
Great, thanks. Just saw some weird-looking stuff at:
https://who.is/whois/owin.org

On Fri, Jan 22, 2016 at 4:27 PM, Sebastien Lambla notifications@github.com
wrote:

[2016-01-22 22:29] serialseb commented on #51
Nah that's just my details. Lol.

[2016-01-22 22:38] serialseb commented on #51
Should have propagated, let me know if you still encounter any issue.

[2016-01-22 22:41] unencode commented on #51
Yes, it works now, thanks!

-Isaac

[2016-01-22 22:42] serialseb commented on #51
Fabulous. Closing this. And I won't take it personally about the `weird` thing. :-D

[2016-01-22 22:42] #51 closed, assigned to nobody

[2016-01-22 23:09] unencode commented on #51
Sorry! lol man. Thanks for taking care of OWIN, it's awesome!

On Fri, Jan 22, 2016 at 4:42 PM, Sebastien Lambla notifications@github.com
wrote:

[2016-01-22 23:10] serialseb commented on #51
Haha no problem and thank you :) Im but the name owner :)

[2016-03-08 12:17] HarveerNehra opened #52 "how can I add middleware to OWIN Pipeline after Startup at runtime"
I have added all available middleware in OWIN Pipeline in Startup class using IAppBuilder to authenticate user in my project. It is working fine. But how can I add middleware to OWIN Pipeline after Startup at runtime. So that Admin can enter the details of new Authentication Server using UI and register new authentication server on demand without disturbing running application.

[2016-03-08 13:12] khellang commented on #52
Hey @HarveerNehra! This repository is for the OWIN specification. `IAppBuilder` is for Katana, Microsoft's implementation of the OWIN spec. I suggest you ask over at the [Katana project space](https://katanaproject.codeplex.com/). Thanks! :+1:

[2016-03-08 13:12] #52 closed, assigned to nobody

[2016-03-09 16:03] panesofglass commented on #52
@HarveerNehra, you will need to do something like this: https://github.com/damianh/DynamicKatanaPipeline. The OWIN spec allows for many styles where Katana is one option.

[2016-03-09 17:11] HarveerNehra commented on #52
Thanks! I'll try and update accordingly

[2016-03-09 17:24] HarveerNehra commented on #52
Actually, I have added 2 External Login.
1. Our Organization ADFS
2. Azure AD
I am using "UseOpenIdConnectAuthentication" method to add external login.

but I have to add other organization's ADFS (our client) external login at run time dynamically.
Any help ?

Thanks in Advance

[2016-03-11 01:01] panesofglass commented on #52
@HarveerNehra I tried that a few years ago and eventually gave up and used Auth0. I could never get the OWIN security stuff to work well with multiple orgs / auth patterns.

[2016-08-30 19:45] bharatmangal04 opened #53 "OWIN Authentication issue while hitting some pages in Web Application"
OWIN Pipeline throwing exception

   at Microsoft.IdentityModel.Protocols.AuthenticationProtocolMessage.SetParameter(String parameter, String value)
   at Microsoft.IdentityModel.Protocols.WsFederationMessage..ctor(IEnumerable`1 parameters)
   at Microsoft.Owin.Security.WsFederation.WsFederationAuthenticationHandler.<AuthenticateCoreAsync>d__1f.MoveNext()
--- End of stack trace from previous locat

[2016-08-30 20:47] Tratcher commented on #53
This can be closed as a duplicate of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/143

[2016-08-30 20:52] bharatmangal04 commented on #53
This is not related to Azure AD. Also Above mentioned issue related to OAuth. So we need to keep this open to find out the resolution.

Do let me know if need more information from my side.

[2016-08-30 20:57] Tratcher commented on #53
AzureAd owns Microsoft.IdentityModel.Protocols.WsFederationMessage

[2016-08-30 20:58] Tratcher commented on #53
Alternatively move it to http://katanaproject.codeplex.com/ for Microsoft.Owin.Security.WsFederation

[2016-08-30 22:39] bharatmangal04 commented on #53
Thanks.. Posted issue on Katana. Also provided issue above for AzureAd. I did not see the resolution for this.

[2016-08-31 20:49] bharatmangal04 commented on #53
Closing issue as already raised with Azure AD

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/495

[2016-08-31 20:49] #53 closed, assigned to nobody

[2017-10-31 13:20] ghost opened #54 "401 Unauthorized for services on same application server"
Hi,

We are hosting multiple webservices with Owin on the same applicationserver. Our services require NTLM authentification. The services are accessed through a DNS-name which points to a load-balancer.
When service A tries to access service B and the load-balancer selects the B instance on the same application server as service A, we are rejected with a 401 unauthorized.
It looks like our issue

[2017-10-31 14:12] Tratcher commented on #54
This issue was moved to aspnet/AspNetKatana#132

[2017-11-05 17:32] serialseb commented on #54
Closing

[2017-11-05 17:32] #54 closed, assigned to nobody

[2018-03-07 13:36] kolte opened #55 "No owin.Environment item was found in the context in IIS Web Farm ARR hosting"
I am trying to set load balancing with IIS ARR but getting this error when I try to login, It works find if I test it outside ARR

Server Error in '/' Application. No owin.Environment item was found in the context. Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated

[2018-03-07 15:00] Tratcher commented on #55
Duplicate of https://github.com/aspnet/AspNetKatana/issues/179, please close.

[2018-03-07 17:47] #55 closed, assigned to nobody

[2020-03-31 22:58] pedroteixeira commented on #49
Hi, is there support for HTTP/2 when using .net framework 4.x?
even if it only in Windows 10?
thanks

[2020-03-31 23:02] Tratcher commented on #49
@pedroteixeira it actually just works on most servers. The servers used the same data structures for HTTP/1.1 and HTTP/2 for compat reasons so no adaptations were needed at the OWIN layer. If you have more specific questions about an implementation like Microsoft.Owin you can ask over at (https://github.com/aspnet/aspnetkatana).

[2020-10-17 21:15] teo-tsirpanis opened #56 "owin.org's certificate is broken"
https://owin.org uses GitHub's certificate for `*.github.io` sites.

[2020-10-27 16:48] serialseb commented on #56
Who remembers anything about how the site is registered?

[2020-10-29 12:05] panesofglass commented on #56
@skoon? @jasonsirota?

[2020-10-29 23:06] jasonsirota commented on #56
do I still ow(i)n this? i’ll put it on my queue to shut down unless you think someone wants to keep it around.

[2020-10-29 23:08] teo-tsirpanis commented on #56
Why shut it down? It's a piece of software engineering history.

A notice that OWIN is deprecated and superseded by ASP.NET Core would be of value.

[2020-10-30 01:57] skoon commented on #56
As far as I know it was just a github site.

But I've forgotten all tech knowledge. What are websites?

⁣Sent from BlueMail ​

On Oct 29, 2020, 5:05 AM, at 5:05 AM, Ryan Riley <notifications@github.com> wrote:

[2020-10-30 12:39] panesofglass commented on #56
@loudej or @Tratcher do you own the domain?

[2020-10-30 14:04] Tratcher commented on #56
Not I.

[2020-10-30 15:51] jasonsirota commented on #56
Looks like Sebastien owns the domain but the cert might be configured on
Github.

---------- Forwarded message ---------
From: Sebastien Lambla <seb@serialseb.com>
Date: Sun, Mar 6, 2011 at 9:09 PM
Subject: RE: owin.org mx records
To: Jason Sirota <jason@sirotamail.com>
Cc: Benjamin van der Veen <b@bvanderveen.com>, Louis DeJardin <
lodejard@microsoft.com>

Didn’t have much time for doing this.

W

[2020-10-31 04:17] lodejard commented on #56
Yep, not me either, but this is a fun thread to follow. Looks like owin.org is registered by Naughtyprod Limited, so that's Sebastien for sure.